
@font-face {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    src: url('BodoniSvtyTwoITCTT-Book.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    src:  url('fonts/BodySvtyTwoITCCTT-Book/data:application/x-font-woff;charset=utf-8;base64,') format('woff'),
          url('fonts/BodySvtyTwoITCCTT-Book/BodoniSvtyTwoITCTT-Book.ttf')  format('truetype'),
          url('fonts/BodySvtyTwoITCCTT-Book/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

/*
    font-family: 'Lato', sans-serif;
*/

$lato : 'Lato', sans-serif;
$bodoni : 'BodoniSvtyTwoITCTT-Book';

