
footer{
    
    margin-top: 80px;
    a{
        text-decoration: none;
        color: $theme-color;

        &:hover{
            text-decoration: none;
            color: darken($theme-color, 5%);
        }
    }
    
    p{
        font-size: 12px;
    }
}